section{
    height: 50vh;
    overflow: auto;
}

.customer{
    height: 8rem;
    width: 20rem;
    padding: 1rem;
    margin: 0.5rem;
    background-color: antiquewhite;
    display: inline-block;
}

table, td, th {
    border: 1px solid black;
    border-collapse: collapse;
}