body{
    font-family: Verdana;
    box-sizing: border-box;
}

#baner1, #baner2{
    background-color: #6F79A8;
    color: white;
    height: 140px;
}


#baner1 {
    width: 30%;
}

#baner2 {
    width: 70%;
}

header{
    display: flex;
}

img{
    height: 140px;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.calendar{
    background-color: #9FA8DA;
    width: 160px;
    height: 85px;
    margin: 5px;
    border: 1px solid #6F79A8;
    overflow: hidden;
}


.calendar:hover{
    background-color: #6F79A8;
    color: white;
}


footer {
    background-color: #6F79A8;
    color: white;
    padding: 5px;
    text-align: right;
}

h6 {
    text-align: center;
}