*{
    font-family:Tahoma;
}

header, footer{
    background-color: maroon;
    color: white;
    padding: 10px;
}

main section{
    width: 50%;
    height: 500px;
}

section.left{
    background-color: lightsalmon;
}

section.right{
    background-color: darksalmon;
}

main{
    display: flex;
}

h1, h2, h3 {
    text-align: center;
}

table, th, td {
    border: solid 1px Maroon;
}

table{
    border-collapse: collapse;
    width: 85%;
    margin: auto;
}

ol{
    list-style: none;
}

button{
    background-color: maroon;
    color: white;
    margin-left: 20px;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

button:hover{
    color: maroon;
    background-color: white;
}